/********** Template CSS **********/
:root {
  --primary: #85171a;
  --secondary: #4777f5;
  --light: #f7faff;
  --dark: #1d1d27;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
  font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
  font-weight: 500 !important;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: var(--light) !important;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
  color: #ffffff;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;
    background: #ffffff;
  }

  .navbar-light .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #dddddd;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
    color: var(--dark) !important;
  }

  .navbar-light .navbar-brand h1 {
    color: var(--primary);
  }

  .navbar-light .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }

  .sticky-top.navbar-light {
    position: fixed;
    background: #ffffff;
  }

  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--secondary);
    transition: 0.5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .sticky-top.navbar-light .navbar-brand h1 {
    color: var(--primary);
  }
}

/*** Hero Header ***/
.hero-header {
  background: url(../img/re.jpg);
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 200vh;
}

.img-hero {
  width: 100%;
  max-width: 100%;
}

.hero-header-peta {
  background: url(../img/pages.jpg);
  width: auto;
  background-repeat: repeat-y;
}

/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 295px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #ff7700;
}
.section-title-m::before {
  position: absolute;
  content: "";
  width: 275px;
  height: 4px;
  bottom: 0;
  right: 0;
  background: #ff7700;
}

.section-title-pages::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #000;
  text-align: center;
  margin-left: 570px;
  margin-bottom: -18px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 50px;
  background: #ff7700;
}

.section-title-m::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  bottom: 0;
  right: 50px;
  background: #ff7700;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -25px;
}

.section-title.text-center::after {
  left: 50%;
  margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0;
  background: rgba(33, 66, 177, 0.5);
}

.section-title h6::after {
  top: 5px;
  left: 3px;
}

/*** Service ***/
.service-item {
  position: relative;
  height: 350px;
  padding: 30px 25px;
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background: url(../img/icon-shape-primary.png) center center no-repeat;
  transition: 0.5s;
}

.service-item:hover .service-icon {
  color: var(--primary);
  background: url(../img/icon-shape-white.png);
}

.service-item h5,
.service-item p {
  transition: 0.5s;
}

.service-item:hover h5,
.service-item:hover p {
  color: var(--light);
}

.service-item a.btn {
  position: relative;
  display: flex;
  color: var(--primary);
  transition: 0.5s;
  z-index: 1;
}

.service-item:hover a.btn {
  color: var(--primary);
}

.service-item a.btn::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 35px;
  background: #dddddd;
  transition: 0.5s;
  z-index: -1;
}

.service-item:hover a.btn::before {
  width: 100%;
  background: var(--light);
}

/*** Testimonial ***/
.newsletter,
.testimonial {
  background: url(../img/bg-top.png), url(../img/bg-bottom.png);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--light) !important;
  border-color: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #888888;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
  color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
  color: var(--dark) !important;
}

/*** Team ***/
.team-item {
  position: relative;
  transition: 0.5s;
  z-index: 1;
}

.team-item::after {
  position: absolute;
  content: "";
  top: 3rem;
  right: 3rem;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  z-index: -1;
}

.team-item:hover::after {
  background: var(--primary);
}

.team-item h5,
.team-item small {
  transition: 0.5s;
}

.team-item:hover h5,
.team-item:hover small {
  color: var(--light);
}

/*** Project Portfolio ***/
#portfolio-flters .btn {
  position: relative;
  display: inline-block;
  margin: 10px 4px 0 4px;
  transition: 0.5s;
}

#portfolio-flters .btn::after {
  position: absolute;
  content: "";
  right: -1px;
  bottom: -1px;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 50px solid #ffffff;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
  color: var(--light);
  background: var(--primary);
}

.portfolio-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  background: var(--primary);
  transition: 0.5s;
  z-index: 1;
  opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-item .btn {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/icon-shape-white.png) center center no-repeat;
  border: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 2;
}

.portfolio-item:hover .btn {
  opacity: 1;
  transition-delay: 0.15s;
}

/*** Footer ***/
.footer {
  background: url(../img/footer.png) center center no-repeat;
  background-size: contain;
  display: flex;
}

.footer .btn.btn-social {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 3px solid rgba(256, 256, 256, 0.1);
  border-radius: 40px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: #ff7500;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.column {
  float: left;
  width: 30%;
  display: flex;
  margin: auto;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-top: 0%;
}

/* Icon sosmed footer */
.icon-sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
}

/* logo Footer */
.logo-footer {
  width: 300px;
}

.cp-footer {
  padding: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style all font awesome icons */
.fa {
  padding: 7px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-instagram {
  background: #3b589800;
  color: white;
}

.fa-youtube {
  background: #55acee;
  color: white;
}

.fa-tiktok {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #0076b500;
  color: white;
}

.p {
  font-family: "Poppins";
  font-size: 22px;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}

.makna {
  width: 1280px;
  max-width: 100%;
  max-height: auto;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* Timeline css start */
.cd-container {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;

  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

/* #cd-timeline {
  padding: 0;
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  /* background-image: url('../img/re.jpg'); */

#cd-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #ff7700;
}

#cd-timeline {
  padding: 0;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  max-width: 100%;
}

#cd-timeline::before {
  left: 50%;
  margin-left: -2px;
}

.cd-timeline-block {
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 3rem;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ff7700, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #ff7700;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #f76e11;
  border-radius: 2px;
  padding: 1em;
}

.timeline-content-info {
  background: #2b343a;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
i {
  margin-right: 5px;
}
.timeline-content-info-title,
.timeline-content-info-date {
  width: calc(50% - 2px);
  display: inline-block;
}
@media (max-width: 500px) {
  .timeline-content-info-title,
  .timeline-content-info-date {
    display: block;
    width: 100%;
  }
}

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 5px;
}
.cd-timeline-content p,
.cd-timeline-content .cd-date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333c42;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%;
  }
}
@media only screen and (max-width: 480px) {
  img {
    width: 25%;
    object-fit: cover;
    max-width: 50%;
  }
}
.cd-timeline-content::before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: #333c42;
}
.cd-timeline-content .cd-date {
  position: absolute;
  width: 100%;
  left: 122%;
  top: 6px;
  font-size: 16px;
  font-size: 1rem;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right;
}

table.minimalistBlack {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.minimalistBlack td,
table.minimalistBlack th {
  border: 0px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}

table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.faq {
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;

  margin-bottom: 50px;
}

.container-full {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 100px;
  position: relative;
}

.blue-row {
  height: 200px;
  background: linear-gradient(#4b7fe4, #99b4e8);
}
.grey-row {
  background-color: #e3e3e3;
}

.darkgrey-row {
  height: 100px;
  background-color: #bebebe;
}

.map {
  height: 200px;
  width: 200px;
  position: absolute;
  background: red;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}

.img-index {
  position: absolute;
  width: 100%;
  z-index: 10;
}

/* Start Makna Logo */
#maknalogo {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.container-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}

.logo {
  padding: 25px 0 0 0;
  text-align: center;
  position: relative;
  margin: auto;
  object-position: 500px 0px;
  z-index: 100;
}

.font-makna {
  margin-top: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

#detail-logo {
  font-size: 40px;
  color: rgb(206, 205, 205);
  margin-top: 0;
}

#img-bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
  /* height: 50rem; */
}

.img-makna {
  padding: 0;
  object-position: 20px 0px;
  /* margin-top: 7rem; */
  margin-left: 3rem;
  /* width: 55rem;
  height: 20rem; */
  max-width: 60%;
  max-height: 100%;
  transition: 0.5s;
  z-index: 99;
}

.img-2022 {
  padding: 0;
  object-position: -30px 0px;
  /* width: 50rem;
  height: 20rem; */
  /* border-radius: 50px; */
  max-width: 30%;
  max-height: 100%;
  transition: 0.5s;
  /* right: 4rem; */
  z-index: 99;
}

.img-2022:hover,
.img-makna:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.dLogo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
}
.dWarna {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
}

/* End Makna Logo */

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* Virtual Tour  */
.vr-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Removes Dot on ul  */
ul {
  list-style-type: none;
}

/* Peta.html, container peta Perjalanan */
/* Start Peta Perjalanan */
.container-peta-perjalanan {
  width: 100%;
  max-width: 100%;
}

.cd-picture {
  margin-top: 10px;
  position: relative;
  align-items: center;
  object-position: -50% -10;
}

.container-section-peta {
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.container-peta {
  width: 100%;
  max-width: 100%;
}

.title-peta-perjalanan {
  padding: 7rem 0 2rem 0;
}

.konten:hover{
  background-color: #c75000;
}
/* End Peta Perjalanan */

/* Start Divisi */
.divisi {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.tbl-divisi {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: none;
}

.tbl-divisi2 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: none;
}

.td-icon-divisi {
  width: 10%;
  height: 20px;
  text-align: center;
}

.zoom {
  background-color: none;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* End Divisi */

/* Value */
.value-container {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.img-value {
  width: 100%;
  max-width: 100%;
}

.link-value-ubsweek {
  padding: 4rem;
  opacity: 0;
  z-index: 999;
  position: absolute;
  font-size: 5rem;
  top: 670%;
  left: 13%;
}

.link-value-kampus {
  padding: 4rem;
  opacity: 0;
  z-index: 999;
  position: absolute;
  font-size: 5rem;
  top: 718%;
  left: -15px;
}

.link-value-pi {
  padding: 4rem;
  opacity: 0;
  z-index: 999;
  position: absolute;
  font-size: 5rem;
  top: 718%;
  left: 60%;
}

.img-href-winner {
  opacity: 1;
  z-index: 999;
  width: 300px;
  position: absolute;
  margin-top: 0;
}

.img-href-valuekampus {
  opacity: 1;
  z-index: 10;
}

.img-href-valuepi {
  opacity: 1;
  z-index: 10;
}

.img-index {
  position: absolute;
  width: 100%;
  z-index: 10;
}

/* File divisi.html Image Divisi*/
.divisi-2 {
  margin-top: 8rem;
}
.container-divisi-foto {
  width: 100%;
  margin-top: 5rem;
}

.title-divisi {
  text-align: center;
}

.container-foto {
  margin: 30px 0 25px 0;
}

.img-divisi {
  width: 100%;
  max-width: 90%;
  align-items: center;
}

/* 404.html, valuekampus.html, valuepi.html */

.container-value-ubsweek,
.container-value-pi,
.container-value-kampus {
  width: 100%;
  max-width: 100%;
}

.img-all-value {
  margin-top: 4rem;
  width: 100%;
  max-width: 100%;
}

.img-value-pi2,
.img-value-kampus2 {
  margin-top: 4rem;
  width: 100%;
  max-width: 100%;
  height: 120vh;
}

/* Phone Screen */
@media only screen and (max-width: 600px) {
  /* Section Makna Logo */
  .img-makna {
    padding: 0;
    object-position: 0px 0px;
    margin-left: 30px;
    margin-bottom: 0;
    max-width: 70%;
    width: 15rem;
    height: 5rem;
    transition: 0.5s;
    z-index: 99;
  }

  .img-2022 {
    padding: 0;
    object-position: -10px -8px;
    margin-bottom: 0;
    width: 6rem;
    height: 6rem;
    max-width: 35%;
    transition: 0.5s;
    z-index: 99;
  }

  .font-makna {
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    z-index: 110;
  }

  #detail-logo {
    font-size: 10px;
    color: #fff;
    z-index: 110;
  }

  .container-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
  }

  #img-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  /* Navbar Logo */
  .logo-navbar {
    width: 250px;
  }

  /* Footer Logo */
  .logo-footer {
    width: 300px;
  }
  .cp-footer {
    padding: 0;
  }

  /* Divisi Gambar */
  .td-icon-divisi {
    padding: 5px;
    width: 25%;
    height: 20px;
    text-align: center;
  }

  .zoom {
    background-color: none;
    transition: transform 0.2s; /* Animation */
    max-width: 100%;
    margin: 0 auto;
  }
  /* Container divisi file divisi.html */
  .divisi-2 {
    margin-top: 2rem;
  }

  /* Peta HTML, Peta Perjalanan */
  .title-peta-perjalanan {
    padding: 1rem 0 0 0;
    font-size: 20px;
  }

  .cd-timeline-content {
    position: relative;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    background: #f76e11;
    border-radius: 2px;
  }

  .konten {
    width: 100%;
    max-width: 40%;
  }

  .konten h2 {
    font-size: 13px;
  }

  /* Dot in the middle */
  .cd-timeline-img {
    position: absolute;
    top: 3rem;
    left: 47%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #ff7700, inset 0 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 0 4px rgba(0, 0, 0, 0.05);
    object-position: -50% 0;
  }
  .cd-picture {
    margin-top: 10px;
    position: relative;
    align-items: center;
  }
  /* end */

  /* Value */
  .value-container {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .img-value {
    width: 100%;
    max-width: 100%;
  }

  .link-value-ubsweek {
    padding: 1rem;
    opacity: 0;
    z-index: 999;
    position: absolute;
    font-size: 2rem;
    top: 349%;
    width: 100%;
    left: 0;
  }

  .link-value-kampus {
    padding: 0;
    opacity: 0;
    z-index: 999;
    position: absolute;
    font-size: 2rem;
    top: 365%;
    width: 25%;
    left: 10%;
  }

  .link-value-pi {
    padding: 1rem;
    opacity: 0;
    z-index: 999;
    position: absolute;
    font-size: 2rem;
    top: 365%;
    left: 55%;
  }

  /* Hero-header */
  .hero-header {
    background: url(../img/re.jpg);
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  /* .cd-picture {
    position: relative;
    align-items: center;
    /* object-position: -50% -10; */

  /* .container-peta-kiri {
    position: relative;
  }

  .container-peta-kanan {
    position: relative;
  } */
  /* 404.html, valuekampus.html, valuepi.html */


  /* Search CSS */
  form {
    display: flex;
    align-items: center;
  }

  input[type="text"] {
      flex: 1;
      padding: 10px;
      border: 1px solid #000;
  }

  button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #000;
      border: none;
      cursor: pointer;
  }

  #searchResults {
      margin-top: 30px;
  }
  .container-value-ubsweek,
  .container-value-pi,
  .container-value-kampus {
    width: 100%;
    max-width: 100%;
  }

  .img-all-value {
    width: 100%;
    max-width: 100%;
    height: 60vh;
  }

  .img-value-pi2,
  .img-value-kampus2 {
    width: 100%;
    max-width: 100%;
    height: 45vh;
  }

  .section-title-pages::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #000;
    text-align: center;
    margin-left: 25%;
    margin-bottom: -18px;
  }

  /* Modal Footer */
  .modal-footer-jakup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  .modal-content-footer {
    position: fixed;
    
    bottom: 0;
    background-color: #a1a1a1;
    width: 50%;
    height: 30%;
    text-align: justify;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }

  .modal-body-instagram {
    padding: 0;
    background: #a1a1a1;
    margin-top: 15%;
  }
}

/* FAQ */
.sfaq {
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.faq {
  margin-left: 5%;
  text-align: center;
  padding: 0;
  width: 100%;
  max-width: 90%;
}

@media only screen and (min-width: 600px) {
  .img-makna {
    padding: 0;
    margin: 10px 0 30px 20px;
    object-position: 10px 0px;
    max-width: 70%;
    width: 55rem;
    height: 10rem;
    transition: 0.5s;
    z-index: 99;
  }

  .img-2022 {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 50px;
    object-position: -15px -10px;
    max-width: 30%;
    width: 50rem;
    height: 10.5rem;
    transition: 0.5s;
    z-index: 99;
  }

  .font-makna {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    z-index: 110;
  }

  #detail-logo {
    font-size: 15px;
    color: #fff;
    z-index: 110;
  }
}

@media only screen and (min-width: 768px) {
  .img-makna {
    padding: 0;
    object-position: 0px 0px;
    max-width: 70%;
    width: 55rem;
    height: 15rem;
    margin-left: 20px;
    transition: 0.5s;
    z-index: 99;
  }

  .img-2022 {
    padding: 0;
    object-position: -20px -18px;
    max-width: 30%;
    width: 55rem;
    height: 16rem;
    transition: 0.5s;
    z-index: 99;
  }

  .font-makna {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    z-index: 110;
  }

  #detail-logo {
    font-size: 15px;
    color: #fff;
    z-index: 110;
  }
}

@media only screen and (min-width: 992px) {
  .img-makna {
    padding: 0;
    margin-bottom: 50px;
    object-position: 20px 0px;
    margin-left: 120px;
    width: 50rem;
    height: 18rem;
    transition: 0.5s;
    z-index: 99;
  }

  .img-2022 {
    padding: 0;
    margin-bottom: 70px;
    object-position: -30px -25px;
    width: 20rem;
    height: 19.5rem;
    transition: 0.5s;
    z-index: 99;
  }

  .font-makna {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    z-index: 110;
  }

  #detail-logo {
    font-size: 30px;
    color: #fff;
    z-index: 110;
  }
}

/* Modal Footer */

.modal-footer-jakup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content-footer {
  position: fixed;
  
  bottom: 0;
  background-color: #85171A;
  width: 15%;
  height: 30%;
  text-align: justify;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body-instagram {
  padding: 0;
  background: #85171A;
  margin-top: 28%;
}

.modal-body-instagram a{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.modal-body-instagram a:hover{
  color: #ff7500;
  text-decoration: none;
}


/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

